<!-- Футер -->
<footer class="footer-section" style="background-color: #C08847; height: 2cm;">
    <div class="footer-container">
        <div class="footer-left">
            <span>+7(963)-925-58-85</span>
        </div>

        <div class="footer-center">
            <span>zotenkovad@gmail.com</span>
        </div>

        <div class="footer-right">
            <a href="#" class="social-icon">Instagram</a>
            <a href="#" class="social-icon">Telegram</a>
            <a href="#" class="social-icon">VK</a>
        </div>
    </div>
</footer>